.layout {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: 8px;
}

.child {
  background: orange;
  text-align:center;
  padding: 25px;
  display: flex;
  justify-content: space-between;
}
.last-row {
  grid-column: 1 / 13;
}
.child > div {
  height: 50px;
  background: darkred;
  flex: 0 1 30%;
}